body {
font-family: 'Courier New', Courier, monospace;
background-color: #f8f6cc;
color: #333;
}
.skills {
    list-style-image: url('');
}
.hobbies{
    list-style-image: url('');
}
table {
    width: 1000px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000000; text-align:
    center; padding: 10px;
}
tr:nth-child(odd){ 
    background-color:#f80000;
}
thead tr{
    background-color: #1e01fa !important;
}
tr:nth-child(even){ 
    background-color:#00ff00;
}
tfoot tr{
    background-color: #00d9ff!important;
}
a {
text-decoration: none;
color: #03c2b5;
}
a:hover {
text-decoration: underline;
}
header {
background-color: #c203fc;
color: #fff;
padding: 20px 0;
text-align: center;
}
header h1 {
margin: 0;
}
nav ul {
list-style: none;
padding: 0;
margin: 10px 0 0;
display: flex;
justify-content: center;
gap: 20px;
}
nav li {
display: inline;
}
nav a {
color: #fffb00;
font-weight: bold;
}
main {
max-width: 900px;
margin: 30px auto;
padding: 0 20px;
}
main h2 {
color: #300066;
border-bottom: 2px solid #ffcaca;
padding-bottom: 5px;
margin-top: 40px;
}
figure {
margin: 20px 0;
text-align: center;
}
figure img {
max-width: 100%;
height: auto;
border: 2px solid #ffc4c4;
border-radius: 5px;
}
figcaption {
    font-weight:bold;
    padding:50px;
margin-top: 8px;
font-style: italic;
color: #000000;
}
ul {
margin-left: 20px;
}
article {
background-color: #ffdede;
border: 1px solid #ffd6d6;
margin: 20px 0;
padding: 20px;
border-radius: 5px;
}
footer {
background-color: #04b1a5;
color: #ffd7d7;
text-align: center;
padding: 15px 0;
margin-top: 40px;
}
form { background:  #f8f6cc;
padding: 32px 40px; border-radius: 12px;
width: 400px;
}

fieldset {
border: 1px solid #4442e2; border-radius: 8px; margin-bottom: 22px; padding: 18px; background:
#5fc1e5;
}
legend {
font-weight:900; color: #2d00df;
}
label {
display: block; margin-top: 10px; margin-bottom: 5px; color: #333;
font-size: 1rem;
}
input, textarea { width: 100%; padding: 8px;
border-radius: 5px; border: 1px solid  #f8f6cc; font-size: 1rem;
box-sizing: border-box; margin-bottom: 14px; transition: border 0.2s;
}
input:focus, textarea:focus { border: 1.5px solid #85ebfd;
outline: none;
}
.profile{
position:relative;
left:20%;
margin: 20px;
border-radius: 10px;
width: 600px;
padding: 100px 60px;
background-color: rgb(91, 214, 252);
text-align: center;
border: #0d024c 3px solid;
}
.top img{
width: 55%;
object-fit: cover;
border-radius: 100%;
object-position: 100% 0%;
border: #09024c 10px solid;
}
.subhead li{
text-align: left;
font-size: 18px;
}
.btn{
padding: 20px;
border-radius: 15px;
background-color: #ffa5a5;
transition: background-color 0.2s ease-in-out;
border: #25024c 4px solid;
font-size: 20px;
}
.btn:hover{
background-color: #1cf0c2;
}



